<nav class="navbar navbar-expand-lg navStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <a href="/" class="me-3">
            <img class="me-3" src="/images/logodevdotnet.png" height="40" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Menu Links-->
        <div class="navbar-collapse collapse" id="navbarContent">
            <ul class="navbar-nav mb-lg-0 mb-2 me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                    </NavLink>
                </li>
                       
          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-stack"></i>
                        <span>Samples</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/fizzbuzz">
                                <i class="bi bi-person-fill"></i>
                                <span>FizzBuzz</span>
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="#">
                                <i class="bi bi-archive"></i>
                                <span>Dropdown Link 2</span>
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Dropdown Link 3</span>
                            </NavLink>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
