.footerStyle {
    background-color: var(--cf-theme-900)
}

.footStyle a {
    color: var(--cf-theme-200)
}

.footerStyle a:hover {
    color: var(--cf-them-core)
}

.bi {
    font-size: 1.5rem;
    padding-inline-start: 0.5rem;
}
