.pageStyle {
    background: url(images/LandingPageBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-family: var(--cf-title-font);
    font-size: 3rem;
    color: var(--cf-theme-800);
    line-height: 3rem;
}

.subTitle {
    font-size: 1rem;
    font-family: var(--cf-body-font);
}

.devicons {
    font-size: 2rem;
}

@media (max-width: 767.98px) {
    .home-logo-img {
        max-height: 120px; /* Adjust as needed */
        height: auto;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .subTitle {
        font-size: 1.5rem;
    }

    .devicons {
        font-size: 2.5rem;
    }
}
