.pageStyle {
    background: url(images/LandingPageBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-family: var(--ff-title-font);
    font-size: 3rem;
    color: var(--ff-title-color);
    line-height: 3rem;
}

.subTitle {
    font-family: var(--f-body-font);
    font-size: 1rem;
}

.devicons{
    font-size: 2rem;
}
