@inherits LayoutComponentBase
<div class="main-layout d-flex flex-column h-100">
    <header>
        <!-- Top Nav Bar -->
        <MainLayoutMenu />
    </header>

    <main class="flex-grow-1">
        <!-- Main content area injected by the body tag -->
        @Body
    </main>

    <footer class="flex-shrink-0">
        <MainLayoutFooter />
    </footer>
</div>