<div class="footerStyle text-light p-2">
    <div class="container-xxl">

        <div class="row row-cols-1 row-cols-md-3 text-center">

            <div class="col order-md-first text-md-start order-last">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built by:</span><span><img src="/images/nameLogoWhite.png" height="15" /></span>
                    </div>
                    <div class="col-12 small">
                        &copy; 2025 by DevDotNet.co.uk
                    </div>
                    <div class="col-12 small">
                        Contact info@devdotnet.co.uk
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="/images/dddlogosmall.png" height="80" />
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 text-md-end">
                        <a href="#"><i class="bi bi-youtube"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="col-12 small">
                        <a href="#">Portfolio</a>
                        <a href="#">Blog</a>
                        <a href="#">Bug Tracker</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>